block footer
	.foot
		ul
			li
				img(src='../images/phone.png')
				span 联系电话
			li
				img(src='../images/addr.png')
				span 公司地址
			li
				img(src='../images/email.png')
				span  企业邮箱
		.content
			span.phone 0571-56920249
			span.addr 浙江省杭州市西湖区翠柏路7号号楼516室
			span.email hr@moekee.com
		span.copy Copyright@2014-2015 moekee.com 浙ICP备15024844号