block footer
	.footer
		ul
			li.ph
				.icon1
				span 联系电话
			li.ad
				.icon2
				span 公司地址
			li.em
				.icon3
				span  企业邮箱
		.content
			p.phone 0571-56920249
			p.addr 浙江省杭州市西湖区翠柏路7号2号楼516室
			p.email hr@moekee.com
		span.copy Copyright@2014-2015 moekee.com 浙ICP备15024844号