block header
	.nav#nav
		.container
			.logo
			ul
				li
					a#nav_index(href='/') 首页
				li
					a#nav_solution(href='/solutions') 解决方案
				li
					a#nav_sucessCases(href='/successCases') 成功案例
				li
					a#nav_about(href='/aboutUs') 关于萌趣
				li
					a#nav_join(href='/joinUs') 加入我们