extends ../layout
block content
	include ../includes/header
	block article
		#fullpage
			.section(data-anchor='firstPage')
				.banner
					.banner_title
						img(src='../images/banner_title.png')
				include ../includes/footer
	script(type="text/javascript" src="/js/layout.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('#nav_sucessCases').css({
								'background-color':'#3bbaf5',
								'color':'#fff'});
		})