extends ../layout
block content
	include ../includes/header
	block article
		#fullpage
			.section(data-anchor='firstPage')
				.banner
					.banner_title
						img(src='../images/banner_title.png')
			.section(data-anchor='secondPage')
				.moveRight#moveRight
				.moveLeft#moveLeft
				.slide
					.solutionOne(data-anchor='slide1')
						.title 我们的解决方案
						.line
							.line_short
						.jjLogo
							.jjImg
						.jjIntr
							p.title1 家居建材
							p.content
								|传统家居建材行业面临着市场萎缩、成本上涨的情况，前几年的扩张，导致企业产能过剩、市场疲软、供需矛盾加剧。随着“大家居”、“全屋定制”成为如今家居行业风潮，企业由单一品牌向集成家居发展成为行业发展新趋势，一些定制家居企业开始着手向相关产品领域进军。对于家居建材企业来说，实体店是绕不开的一道门槛 ,消费者需要通过实体店来建立品牌认知和信任、完成产品体验及服务。电商化和移动互联化的转型升级，已是业内共识。
							button 更多
				.slide(data-anchor='slide2')
					.solutionTwo
						.title 我们的解决方案
						.line
							.line_short
				.slide(data-anchor='slide3')
					.solutionThree
						.title 我们的解决方案
						.line
							.line_short
				.slide(data-anchor='slide4')
					.solutionFour
						.title 我们的解决方案
						.line
							.line_short
			.section(data-anchor='thirdPage')
				.cases
					.title 成功客户案例
					.line
						.line_short
					.casesList
						ul
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
						ul
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
							li
								.caseLogo
								.caseIntr
									p 梦幻星TV
									span 做精彩主播，看有趣视频
									label 直播类
			.section(data-anchor='fourthPage')
				.partner
					.title 合作伙伴
					.line
						.line_short
					.partnerList
						ul
							li
							li
							li
							li
						ul
							li
							li
							li
							li
					.bk
				include ../includes/footer
	script(type="text/javascript" src="/js/layout.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('#nav_index').css({
								'background-color':'#3bbaf5',
								'color':'#fff'});
		})