extends ../layout
block content
	include ../includes/header
	block article
		.solution_banner
			.banner_title_container
				.banner_title
		.solution_nav
			.solution_nav_menu
				ul
					li 家居建材
					li 教育传媒
					li 影视传媒
					li 医疗建设
		.solution_position
	include ../includes/foot
	script(type="text/javascript" src="/js/layout.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('#nav_solution').css({
								'background-color':'#3bbaf5',
								'color':'#fff'});
		})