extends ../layout
block content
	include ../includes/header
	block article
		.success_banner
			.banner_title_container
				.banner_title
		.success_team
			.success_teammember
		.success_position
	include ../includes/foot
	script(type="text/javascript" src="/js/layout.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('#nav_sucessCases').css({
								'background-color':'#3bbaf5',
								'color':'#fff'});
		})